<header class="header container">

    <nav class="header__links">

        <a href="/" class="header__link">
            <img src="https://via.placeholder.com/150x80" alt="Logo" class="header__logo">
        </a>
        <a href="#" class="header__link">Entregadores</a>
        <a href="#" class="header__link">Cadastre-se</a>
        <a href="#" class="header__link">
            Login
            <img src="/assets/client-icon.png" alt="logo" class="link__login-avatar">
        </a>
        
    </nav>

</header>