{% extends 'layout.njk' %}

{% block content %}

    <section class="search">
        <form class="search__form container">

            <input 
                type="text"
                placeholder="Quero procurar por..."
                class="search__input"
            >

            <button type="submit" class="search__button">
                <img src="/assets/lupa.png" alt="icone de busca" class="search__button-icon">
            </button>
        
        </form>
    </section>
    
    <main class="container">

        <div class="stores">
            {% for store in stores %}
    
                <div class="store">
                    <img src="{{store.photo}}" alt="{{store.name}}" class="store__photo">
                    <h2 class="store__name">{{store.name}}</h2>
                    <p class="store__description">{{store.description}}</p>
                </div>

            {% endfor %}
        </div>

        <button class="button">Ver Mais</button>

    </main>
    
{% endblock %}